<div
  class="node"
  [class.hidden]="nodeInfo.time ? audioService.elapsedTime() < nodeInfo.time : false"
>
  <div class="tag" [ngStyle]="{ 'background-color': colors.accent }">
    <p class="speaker">{{ nodeInfo.speaker }}</p>

    @if (nodeInfo.time) {
    <p class="timestamp">{{ nodeInfo.time | timestamp }}</p>
    }
  </div>
  <div
    class="summary"
    [ngStyle]="{
      'background-color': colors.primary,
      'border-color': colors.accent
    }"
  >
    <p>{{ nodeInfo.summary }}</p>
  </div>
</div>
