.node {
  font-family: "Open Sans", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  width: 20vw;
  max-width: 500px;
  cursor: pointer;
  position: relative;
  transition: opacity 0.3s linear;

  p {
    margin: 0;
  }

  .tag {
    border-radius: 0.5em 0.5em 0 0;
    padding: 0.25em 0.5em;
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }

  .summary {
    border: 0.25em solid;
    border-top: 0;
    border-radius: 0 0 0.5em 0.5em;
    padding: 0.25em;
  }
}

.hidden {
  opacity: 0;
}
