<svg width="20000" height="10000">
  <g transform="translate(1000,0)">
    @for (link of tree.links(); track $index) {
    <line
      [attr.x1]="link.source.x"
      [attr.y1]="link.source.y"
      [attr.x2]="link.target.x"
      [attr.y2]="link.target.y"
      stroke="black"
      stroke-width="5"
    />
    } @for (node of tree.descendants(); track $index) {
    <foreignObject
      [attr.x]="node.x - node.data.size[0] / 2"
      [attr.y]="node.y"
      [attr.width]="node.data.size[0]"
      [attr.height]="node.data.size[1]"
    >
      <dv-node [nodeInfo]="node.data"></dv-node>
    </foreignObject>
    }
  </g>
</svg>
