#audio-player-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 7vh;

  audio {
    display: none;
  }

  .controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    .buttons {
      height: 1rem;
    }

    .timestamp {
      font-size: 1rem;
      color: white;
      font-family: "Open Sans", sans-serif;
      margin-left: 0.8rem;
      margin: 0;
    }
  }

  input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    border-radius: 0;
    border: 0px;
    width: 100%;
    margin: 0px;
    height: calc(100% - 1rem);
  }

  input[type="range"]::-webkit-slider-runnable-track,
  input[type="range"]::-moz-range-track {
    background-color: white;
    opacity: 0.1;
    height: 100%;
  }

  input[type="range"]::-webkit-slider-thumb,
  input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
    background-color: #2492f3;
    height: 100%;
    width: 0.5rem;
    padding: 0px;
    margin: 0px;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]:focus::-webkit-slider-thumb,
  input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;
  }
}
